*/*.pyc
*.pdf
.DS_Store
*/+private
+latex
cornu/*.svg
database/book.*
isight/tras*
isight/*.jpg
*/doc/*
web/cache/*
noise/texture.jpg
coreimage/images/*
beziereditor/path.svg
beziereditor/+latex
lsys/Examples/Lindenmayer Systems, Fractals, and Plants/*.png
sklearn/examples/applications/page_links_en.nt.bz2
sklearn/examples/applications/redirects_en.nt.bz2 

pattern/examples/02-db/store.db
pattern/examples/02-db/food.txt
pattern/examples/*/*.slp
pattern/examples/*/*.csv
pattern/examples/*/*.svm

pattern
pattern-old.zip


photobot/images/*
photobot/examples/exports/
coreimage/Missing Filters.tab
coreimage/coreimage-example5b.py
coreimage/coreimage-example5a.py
fatpath/fatpath-0.6.py
photobot/examples/exports
imagewell.txt
photobot/photobot-standalone
photobot/photobot.leo
photobot/examples/transform2/*
*.webloc
coreimage/explorer.py
coreimage/citools.py
photobot/examples/landslide@coreimage
