*.pyc
__pycache__
*.pdf
*.webloc
.DS_Store
+private
*/+private
+latex
+shoebot
*/+movies
*/cache
*/doc
*/build
*/dist
*/classbrowser*


beziereditor/*.svg
beziereditor/+latex

coreimage/Missing Filters.tab
coreimage/citools.py
coreimage/coreimage-example5a.py
coreimage/coreimage-example5b.py
coreimage/explorer.py
coreimage/images/*
coreimage/*.png

cornu/*.svg

database/*.db
database/*.xml

fatpath/fatpath-0.6.py
flowerewolf/+*

imagewell-*.tab
imagewell-*.txt
imagewell.txt
imagewell.tab

isight/tras*
isight/*.jpg

#linguistics
linguistics-data
linguistics-archives
#linguistics/linguistics-data
#linguistics/linguistics-archives
ling_notwork3-pat.py

lsys/Examples/Lindenmayer Systems, Fractals, and Plants/*.png

noise/texture.jpg

perception/cache
perception/index

photobot/examples/Example collage 6.py
photobot/examples/Example collage 7.py
photobot/examples/exports/
photobot/examples/imagewells/
photobot/examples/landslide@coreimage
photobot/examples/transform2/*
photobot/images/*
photobot/photobot-standalone
photobot/photobot.leo

pixabay
*/APIKEY

# ignore for now
svg/Enthought_svg.py
svg/svg-example3.py
svg/svg-example4-icons.py

svg/+lib

Imagewells